extends layout

block content
    .container
        a(href="productos/crear", title="Crear producto nuevo", type="button").btn.btn-primary Crear producto nuevo
        br
        br
        table.table.table-light
            thead.thead-light
                tr
                    th #
                    th ID
                    th Nombre
                    th Cantidad
                    th Precio
                    th Acciones
            tbody
                each producto, index in products
                    tr
                        td=index
                        td=producto.id
                        td=producto.nombre
                        td=producto.cantidad
                        td=producto.precio
                        td Editar | Borrar
