extends layout

block content
    .container
        a(href="productos/crear", title="Crear producto nuevo", type="button").btn.btn-primary Crear producto nuevo
        br
        br
        table.table.table-light
            thead.thead-light
                tr
                    th #
                    th Nombre
                    th Cantidad
                    th Precio
                    th Acciones
            tbody
                each producto, index in products
                    tr
                        td=index+1
                        td=producto.nombre
                        td=producto.cantidad
                        td=producto.precio
                        td
                            div(role="group").btn-group-vertical
                                form(action=`/productos/editar/${producto.id}`, method="get").form-inline
                                    button(type="submit").btn.btn-warning Editar
                            div(role="group").btn-group-vertical
                                form(action=`/productos/eliminar/${producto.id}`, method="post").form-inline
                                    button(type="submit").btn.btn-danger Borrar
                                    
                            
